*{

  
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar .component2 .button1 button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.allmenubar{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  line-height: 50px;
}
.mobilemenubar{
  display: none;
}
.component2{
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: flex-end;
}

.logodiv11{
    flex: 2;
    width: 400px;
    gap: 25px;
    
  }

/*new update section */
@media (min-width:398px) and (max-width:588px) {
  .logodiv11{
    flex:none ;
    width: fit-content;
    gap: 3rem;
    
  }
}


@media(min-width:1194px){



.media3dot{
  display: none;


}
.mobilemenubar{
  display: none  ;
}

}

@media(max-width:1194px){



  
.allmenubar {
  display: none;


}

 .button1 .btn1w .anchor1 {
 
  display: inline !important;
 
 }

}
@media(max-width:993px){
  .component2{
    display: none;
  }
   .logo h1{
    font-size: 1.1rem !important;
    
     
  }
  .logoparent{
    padding: 4%;
  }
  
}



.mobilemenubar{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0.1%;
  top: 100%;
  background: rgb(255, 254, 254);
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 9999;
 
}
.mobilemenubar .a1{
  display: flex;
  width: 100%;
 padding-left: 10%;
 cursor: pointer;
  
}
.mobilemenubar .aboutlink{
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;

}

.button1{
  margin-left: 18vw;
}




.mobilemenubar .button1{
   
 margin: 5% !important;
 
}
.mobilemenubar .button1 button {
  
 width: 100%;
 padding: 5% 60px !important;

  
}
.mobilemenubar .button1{
  border-top: 2px solid rgb(223, 219, 219);
 
}
.mobilemenubar{
  border-bottom: 2px solid rgb(226, 220, 220);
}





.hs1{
 
 width:100vw;
  height: auto;
}
.hs1abts{
 
 width:100%;
 height: 500px;
 overflow: hidden;
}
  .hs1abts .hs21abts{
     width: 100%;
     height: 100%;
     object-fit: cover;

  }
.img12{
   position: relative;
  z-index: 1;
  max-width:100%;
  height: auto;
  object-fit: cover;
  display: block;

  
}




@media(max-width:994px){
  .img12{
    width: 100vw;
    height: 100vh;
    
  }
  
}

.heros1{
  position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}
.heros11{
  position: relative;
width: 100%;
height: 80vh;
overflow: hidden;
}

 


.txtbox12{
  width: 100%;
  margin: 2%;
position: absolute;
z-index: 3;
box-sizing: border-box;
padding: 5%;
color: white;

}
.whatsits{
  flex-direction: row;
}
.d321{
  flex: 0 0 calc( 30% - 10px);
}

@media (max-width:450px) {
  .hs1abts .hs21abts{
    max-height: 600px;

  }

}
@media (max-width:480px) {
  .ok .atag1,.ok .atag2{
      display: block;
      justify-content: center;
      text-align: center;
      margin:  5% 7% 5% 1%;
  }

}
.headings1 .p9871{
    font-size: 3rem;
  }

@media (max-width:500px) {

 
  .heros1{
    height: 80vh;
  }
  .heros11{
    height: 70vh;
  }
  .txtbox12{
    margin-left: 2px !important;
    
    text-align: left;
  }
  
  
  
  


  
 
}

.whatsits{
  justify-content: space-around;
  
}
.abts21{
          display: grid;
        grid-template-columns: 1fr 1fr ;
      }
  
 @media (min-width:501px) and (max-width:1100px) {
  .heros1 {
    height: auto !important;
  }
}

@media (max-width:500px) {
  .pfont124{
    margin-top: 17%;
  }

     .abts21{
        grid-template-columns: 1fr ;
      }

  
    .pfont124{
      font-size: 9vw !important;
     

    }
    .logodiv11{
      margin:5%;
    }
  
  
    .txtbox12 .hpp123{
      font-size: 4.5vw !important;
      width: 100% !important;
      margin: 2% ! important;
      
      
    }
   
   .headingsection12 p{
    font-size: 2vh !important;
    padding: 5%;

   }

   
   .insidesectio{
    min-height: 110rem;
   }
  .whatsits{
    display: none;
    flex-direction: column;
    min-height: 1200px;
  }
  .footersection{
    min-height: 400px;
  }
  heros1{
    margin-top: 60px !important;
  }
  heros11{
    margin-top: 60px !important;
  }
  .headingsection12 .hsp213{
    font-size: 2rem !important;
   
  }
  .lgs32{
    margin-top: 8%;
  }
  .d321{
  flex:none;
  
}

  
   
                 
    
}


.txtbx2 ul li::marker{
  color: #1e65cf;
  font-size: 20px;
  align-items: center;
 
}
.txtbx1 ul li::marker{
 
  font-size: 20px;
  align-items: center;
 
}





