*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
.navbar .component2 .button1 button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.allmenubar{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.mobilemenubar{
  display: none;
}
.component2{
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: flex-end;
}


@media(min-width:994px){

 

.media3dot{
  display: none;


}
.mobilemenubar{
  display: none;
}

}

@media(max-width:994px){
.allmenubar {
  display: none;

}

}
@media(max-width:993px){
  .component2{
    display: none;
  }
   .logo h1{
    font-size: 1.1rem !important;
    
     
  }
  .logoparent{
    padding: 4%;
  }
  
}



.mobilemenubar{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0.1%;
  top: 100%;
  background: rgb(255, 254, 254);
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 9999;
 
}
.mobilemenubar a{
  display: flex;
  width: 100%;
  justify-content: center;
  border: 2px solid rgb(247, 237, 237);
}
.mobilemenubar a:hover{
  display: flex;
  width: 100%;
  justify-content: center;
  border: 2px solid rgb(112, 107, 107);
}


.hs1{
 
 width:100vw;
  height: auto;
}
.img12{
   position: relative;
  z-index: 1;
  max-width:100%;
  height: auto;
  object-fit: cover;
  display: block;

  
}


@media (max-width:750px) {
 
}

@media(max-width:994px){
  .img12{
    width: 100vw;
    height: 100vh;
    
  }
}

.heros1{
  position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}
 


.txtbox12{
position: absolute;
z-index: 10;
box-sizing: border-box;
padding: 5%;
color: white;

}
.whatsits{
  flex-direction: row;
}
.d321{
  flex: 0 0 calc( 30% - 10px);
}

@media (max-width:450px) {
  .hs1 .hs21{
    max-height: 600px;

  }

}
@media (max-width:480px) {
  .ok .atag1,.ok .atag2{
      display: block;
      justify-content: center;
      text-align: center;
      margin:  5% 7% 5% 1%;
  }

}

@media (max-width:500px) {

  
  .heros1{
    height: 70vh;
  }
  .txtbox12{
    margin-left: 2px !important;
  }
  
  
  
  


  
 
}
.whatsits{
  justify-content: space-around;
  
}

@media (max-width:993px) {
    .pfont124{
      font-size: 10vw !important;

    }
    .logodiv11{
      margin:5%;
    }
  
  
    .txtbox12 .hpp123{
      font-size: 4.5vw !important;
      width: 100% !important;
      
      
    }
   
   .headingsection12 p{
    font-size: 2vh !important;
    padding: 5%;

   }

   
   .insidesectio{
    min-height: 110rem;
   }
  .whatsits{
    flex-direction: column;
    min-height: 1500px;
  }
  .footersection{
    min-height: 400px;
  }
  .heros1{
    margin-top: 60px !important;
  }
  .headingsection12 .hsp213{
    font-size: 2rem !important;
   
  }
  .lgs32{
    margin-top: 8%;
  }
  .d321{
  flex:none;
  
}

  
   
                 
    
}


.txtbx2 ul li::marker{
  color: #1e65cf;
  font-size: 20px;
  align-items: center;
 
}
.txtbx1 ul li::marker{
 
  font-size: 20px;
  align-items: center;
 
}




